@page "/suggest"

<section class="main_content">
    <div class="card flex_column is_fullheight">
        <ul class="columns is-vcentered is-variable is-2 is-mobile is-multiline mb-2"><!--!-->
            <li class="column is-full-mobile">
                <h1 class="title is-5 is-size-6-mobile has-text-info">
                    OKRs - GÓP Ý MỤC TIÊU
                </h1>
            </li>
            <li class="column is-one-fifth is-full-mobile">
                <div class="select is-fullwidth"><select>
                        <option value=""><!--!-->Chọn lý do</option>
                        <option value="237RB0BA32">Chuyển đổi số và áp dụng công nghệ nhiều hơn</option>
                        <option value="237R9F2BC0">Gia tăng giá trị sản phẩm</option>
                        <option value="237R38F2DF">Gia tăng khách hàng (số lượng, trải nghiệm, giá trị đơn hàng...)
                        </option>
                        <option value="237R6A9D9F">Hệ thống quản trị tốt hơn</option>
                        <option value="237RCB2089">Hệ thống vận hành (quy trình, quy định, biểu mẫu..) tốt hơn</option>
                        <option value="237R4809BA">Nhân sự tốt hơn</option>
                        <option value="239E4618A6">Phát triển tốt hơn</option>
                        <option value="237R811639">Phát triển văn hóa doanh nghiệp hơn</option>
                        <option value="237R75FD48">Tài chính vững mạnh (gia tăng doanh thu, lợi nhuận, giảm chi phí...)
                        </option>
                        <option value="239R336BA5">TEST ABC </option>
                    </select></div>
            </li><!--!-->
            <li class="column is-one-fifth is-full-mobile">
                <div class="select is-fullwidth"><select class="is-family-code">
                        <option value=""><!--!-->GÓP Ý CỦA TÔI</option>
                        <option value="237O9306E4">DOCORP </option>
                        <option value="237O87AE49">└─ FASTDO ĐÀ NẴNG (3)</option>
                        <option value="237O19A1DE">' └─ Phòng Kinh doanh </option>
                        <option value="2413C29EEB">' ' └─ Team Sale </option>
                        <option value="24138364BE">' ' └─ Team Customer Success </option>
                        <option value="23B56B01E0">' └─ Phòng Marketing </option>
                        <option value="237O7A590C">' └─ Phòng Nhân sự </option>
                        <option value="238983E988">' └─ Phòng Sản xuất (3)</option>
                        <option value="2414584100">' ' └─ Team Design </option>
                        <option value="241606D55C">' ' └─ Team Dev </option>
                        <option value="23B501C100">' └─ Phòng Tài chính - Kế toán </option>
                    </select></div>
            </li><!--!-->
            <li class="column is-narrow" @onclick="() => isSlider = true" >
                <a class="button is-link"><!--!-->
                    <span class="icon"><i class="material-icons-outlined is-size-6">add</i></span>
                    <span >Thêm mới</span>
                </a>
            </li>
        </ul><!--!-->
        <div class="inner_section scrolly" style="flex:1">
            <table class="table is-striped is-noborder is-fullwidth is-responsive"><!--!-->
                <thead>
                    <tr class="is-size-7" style="border-bottom: 1px solid #DEDEDE;">
                        <th class="pt-0">Nội dung góp ý</th>
                        <th class="pt-0" width="15%">Gửi đến</th>
                        <th class="pt-0" width="20%">Lý do bạn muốn góp ý</th>
                        <th class="pt-0" width="160px">Ngày gửi</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="slider is-large @(isSlider ? "is-active" : "")" style="">
        <div class="slider-header">
            <div class="columns is-variable is-2 is-mobile is-vcentered"><!--!-->
                <div class="column">
                    <div class="has-text-weight-bold is-size-5">
                        Tạo góp ý mục tiêu
                    </div>
                </div>
                <div class="column is-narrow" @onclick="() => isSlider = false"><!--!--><button class="button" ><span class="icon"><span
                                class="material-icons-outlined">close</span></span><span>Huỷ tạo</span></button></div>
            </div>
        </div><!--!-->
        <div class="slider-body ">
            <div class="scrolly is-mobile is-flex is-flex-direction-column">
                <div class="field">
                    <div class="columns is-variable is-multiline is-2">
                        <div class="column is-full">
                            <div class="field"><!--!--><label class="label">Gửi đến *</label>
                                <div class="control">
                                    <div class="select is-fullwidth is_bg"><select class="is-family-code">
                                            <option value=""><!--!-->Chọn phòng ban</option>
                                            <option value="237O9306E4">DOCORP</option>
                                            <option value="237O87AE49">└─ FASTDO ĐÀ NẴNG</option>
                                            <option value="237O19A1DE">' └─ Phòng Kinh doanh</option>
                                            <option value="2413C29EEB">' ' └─ Team Sale</option>
                                            <option value="24138364BE">' ' └─ Team Customer Success</option>
                                            <option value="23B56B01E0">' └─ Phòng Marketing</option>
                                            <option value="237O7A590C">' └─ Phòng Nhân sự</option>
                                            <option value="238983E988">' └─ Phòng Sản xuất</option>
                                            <option value="2414584100">' ' └─ Team Design</option>
                                            <option value="241606D55C">' ' └─ Team Dev</option>
                                            <option value="23B501C100">' └─ Phòng Tài chính - Kế toán</option>
                                        </select></div>
                                </div>
                            </div><!--!-->
                            <div class="field"><!--!--><label class="label">Lý do bạn muốn góp ý *</label>
                                <div class="control">
                                    <div class="select is-fullwidth is_bg"><select>
                                            <option value=""><!--!-->Chọn lý do</option>
                                            <option value="237RB0BA32">Chuyển đổi số và áp dụng công nghệ nhiều hơn
                                            </option>
                                            <option value="237R9F2BC0">Gia tăng giá trị sản phẩm</option>
                                            <option value="237R38F2DF">Gia tăng khách hàng (số lượng, trải nghiệm, giá
                                                trị đơn hàng...)</option>
                                            <option value="237R6A9D9F">Hệ thống quản trị tốt hơn</option>
                                            <option value="237RCB2089">Hệ thống vận hành (quy trình, quy định, biểu
                                                mẫu..) tốt hơn</option>
                                            <option value="237R4809BA">Nhân sự tốt hơn</option>
                                            <option value="239E4618A6">Phát triển tốt hơn</option>
                                            <option value="237R811639">Phát triển văn hóa doanh nghiệp hơn</option>
                                            <option value="237R75FD48">Tài chính vững mạnh (gia tăng doanh thu, lợi
                                                nhuận, giảm chi phí...)</option>
                                            <option value="239R336BA5">TEST ABC </option>
                                        </select></div>
                                </div>
                            </div>
                        </div><!--!-->
                        <div class="column is-full">
                            <div class="field"><label class="label"><!--!--><span>Nội dung mục góp ý *</span>
                                    <a class="icon is-pulled-right has-text-info"><!--!--><i
                                            class="material-icons-outlined">close</i></a></label><!--!-->
                                <div class="control"><textarea class="textarea is_bg"
                                        placeholder="Bạn muốn công ty dành nguồn lực tập trung vào mục tiêu / điều gì trong quý tới... "></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-footer">
            <div class="field is-grouped is-grouped-right">
                <div class="control"><!--!--><button class="button is-link    is-inverted"><span class="icon"><span
                                class="material-icons-outlined">add</span></span><span>Thêm</span></button></div>
                <!--!-->
                <div class="control"><!--!--><button class="button is-info"><span class="icon"><span
                                class="material-icons-outlined">save</span></span><span>Lưu nháp</span></button></div>
                <!--!-->
                <div class="control"><!--!--><button class="button is-link"><span class="icon"><span
                                class="material-icons-outlined">done</span></span><span>Gửi góp ý</span></button></div>
            </div>
        </div>
    </div>
</section>

@code{

    private bool isSlider = false; 

}